// Do not use this file directly. See carbon-preprocessing.sh in the root dir
$feature-flags: (
  grid-columns-16: true,
);
@import '../../node_modules/@carbon/themes/scss/themes.scss';

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

//@import '../../../node_modules/carbon-components/scss/globals/scss/styles';
