// Do not use this file directly. See carbon-preprocessing.sh in the root dir
$feature-flags: (
  grid-columns-16: true,
);
@import '../../node_modules/@carbon/themes/scss/themes.scss';

$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

@import '../../../node_modules/carbon-components/scss/globals/scss/styles';
