/*
From figma
dark #210D34
off white #FFEBD9
saffron #E8B933
orange #E66C31
red #E02E38
salmon #EC9899
mulberry #D35492
plum #85276E
verdigis #56B5B5
royal blue #366AE2
cobalt blue #1140A7
yellow green #AFCB61
fern green #397F42
cal green #24502A
*/
$five-fifths--theme: (
  'ui-01': #FFEBD9,
  'ui-02': #56B5B5,
  'ui-03': #EC9899,
  'ui-04': #210D34,
        'support-error': #E02E38,
        'support-success': #397F42,
        'support-warning':#E8B933,
        'support-info': #366AE2
);
// Do not use this file directly. See carbon-preprocessing.sh in the root dir
$feature-flags: (
  grid-columns-16: true,
);
@import '../../../node_modules/@carbon/themes/scss/themes.scss';
$carbon--theme: map-merge($carbon--theme--g90, $five-fifths--theme);
@include carbon--theme();

@import '../../../node_modules/carbon-components/scss/globals/scss/styles';

