// Do not use this file directly. Create css with:
// npx sass --load-path=node_modules assets/scss/five-fifths-theme.scss assets/css/five-fifths-theme.css

/*
From figma
dark #210D34
off white #FFEBD9
saffron #E8B933
orange #E66C31
red #E02E38
salmon #EC9899
mulberry #D35492
plum #85276E
verdigis #56B5B5
royal blue #366AE2
cobalt blue #1140A7
yellow green #AFCB61
fern green #397F42
cal green #24502A
*/
$ff-purple-01: #210D34;
$ff-purple-02: #85276E;
$ff-white-01: #FFEBD9;
$ff-yellow-01: #E8B933;
$ff-yellow-02: #AFCB61;
$ff-orange-01: #E66C31;
$ff-red-01: #E02E38;
$ff-pink-01: #EC9899;
$ff-pink-02: #D35492;
$ff-blue-01: #56B5B5;
$ff-blue-02: #366AE2;
$ff-blue-03: #1140A7;
$ff-green-01: #397F42;
$ff-green-02: #24502A;
$five-fifths--theme: (
  'ui-01': $ff-white-01,
  'ui-02': $ff-blue-01,
  'ui-03': $ff-pink-01,
  'ui-04': $ff-purple-01,
        'support-error': $ff-red-01,
        'support-success': $ff-green-01,
        'support-warning':$ff-yellow-01,
        'support-info': $ff-blue-02,
        'ui-background': $ff-purple-01
);
$feature-flags: (
  grid-columns-16: true,
);
@import '@carbon/themes/scss/themes.scss';
$carbon--theme: map-merge($carbon--theme--g90, $five-fifths--theme);
@include carbon--theme();

@import 'carbon-components/scss/globals/scss/styles';

