@import '@/styles/_theme.scss';
.candidate {
  @include type-style('body-short-02');
  margin-top: 0.5rem;

  .cv-link {
    @include type-style('body-short-02');
    margin-left: 0.5rem;
    color: $text-on-color !important;
  }
  span {
    margin-left: 0.5rem;
    font-weight: 800;
    color: $text-error;
  }
  svg {
    position: relative;
    bottom: -8px;
  }
  &__accordion {
    .bx--accordion__content {
      padding-right: 1rem;
    }
  }
}
.informed {
  &__next-date {
    @include type-style('heading-03');
    margin-top: $spacing-03;
  }
  &__next-message {
    @include type-style('body-long-02');
    margin-top: $spacing-03;
  }
}
