.content--early-voting > .article__img--register {
  margin-top: 20px;
}

.content--early-voting > .heading--lg .heading--sm .article__quote {
  margin-bottom: 20px;
}

.article__img--early-voting {
  margin-top: $spacing-05;
}

.map {
  height: auto;
  width: 100%;
  max-width: 850px;
}

.locations > .heading--lg {
  margin-bottom: 20px;
}

.locations__table {
  max-height: 500px;
  overflow: scroll;
}
