@import '@/styles/_theme.scss';
@import 'carbon-components/scss/components/tabs/tabs';
@import 'carbon-components/scss/components/button/button';
.journey-page {
  .page__details {
    height: 2rem;
  }
  &__nav {
    margin-left: 2rem;
    @include carbon--breakpoint-down(lg) {
      margin-left: 1rem;
    }
    @include carbon--breakpoint-down(lg) {
      margin-top: 2rem;
    }
    @include carbon--breakpoint-down(md) {
      margin-top: revert;
    }
    .cv-link {
      @include carbon--type-style('productive-heading-01');
      display: block;
      cursor: pointer;
      color: $text-on-color;
      margin-bottom: 0.5rem;
      @include carbon--breakpoint-down(lg) {
        margin-bottom: 0.25rem;
      }
    }
    .cv-link:last-child {
      margin-bottom: 0;
    }
  }
}
