@import '@/styles/_theme.scss';
@import "carbon-components/scss/components/tabs/tabs";

.journey-page {
  &__tabs {
    .bx--tabs--scrollable__nav-link {
      color: $text-04 !important;
      width: fit-content;
      min-width: 10rem;
    }
    .cv-tabs-button:hover {
      background-color: $interactive-01 !important;
    }
    .bx--tabs__nav-item--selected {
      background-color: $interactive-01 !important;
    }
  }
  .page__details {
    height: 2rem;
  }
}

