@import 'carbon-components/scss/components/checkbox/checkbox'; // hack to make checkbox white
@import '@/styles/_theme.scss';

.content--register > .article__img--register {
  margin-top: 20px;
}

.content--register > .heading--lg .heading--sm .article__quote {
  margin-bottom: 20px;
}

.article__img--register {
  margin-top: $spacing-05;
}

.aside__img {
  max-width: 100%;
}

.days-left {
  @include type-style('productive-heading-03');
  color: $support-error
}
.register {
  &-info {
    @include type-style('body-short-02');
    margin-top: 1rem;

    .cv-link {
      @include type-style('body-short-02');
      margin-left: $spacing-01;
    }
    &__checkbox {
      display: inline-block;
    }
  }

  &-faq {
    @include type-style('body-short-02');
    margin-top: 0.5rem;

    span:nth-child(1) {
      @include type-style('body-short-02');
    }

    span:nth-child(2) {
      @include type-style('productive-heading-03');
      margin-left: 0.5rem;
      color: $support-info;
    }
    &-header {
      @include type-style('productive-heading-03');
      font-weight: 800;
      margin-top: 1rem;
    }
  }

}
