.hero {
  width: 100vw;
  min-height: 400px;
  background-color: #000;
  display: flex;

  @media (min-width: 1056px) {
    min-height: 600px;
  }
}

.hero__image {
  height: 250px;
  position: absolute;
  left: 10%;
  top: 75px;

  opacity: 0.5;

  @media (min-width: 1056px) {
    height: 400px;
    left: 20%;
    top: 125px;
  }
}

.hero__heading {
  @include carbon--type-style('productive-heading-06');
  font: {
    weight: 600;
    style: italic;
  }
  position: absolute;
  max-width: 500px;
  color: white;
  left: calc(50% - 175px);
  top: 150px;

  @media (min-width: 1056px) {
    @include carbon--type-style('productive-heading-07');
    font: {
      weight: 600;
      style: italic;
    }
    top: 275px;
  }
}
