@import 'carbon-components/scss/globals/scss/vars';
.cv-tabs__panels {
  width: 100%; /* why!!?? */
}

.content--early-voting > .article__img--register {
  margin-top: 20px;
}

.content--early-voting > .heading--lg .heading--sm .article__quote {
  margin-bottom: 20px;
}

.article__img--early-voting {
  margin-top: $spacing-05;
}

.map {
  height: auto;
  width: 100%;
  max-width: 850px;
}

.locations > .heading--lg {
  margin-bottom: 20px;
}

.locations__table {
  max-height: 500px;
  overflow: scroll;
}
.side-map .google-map {
  width: 100%;
  height: 100%;
  min-height: 400px;

  @media (min-width: 672px) {
    min-height: 700px;
  }
}
.loc-name {
  color: white;
  font-weight: bold;
  display: block;
}
.loc-line {
  color: white;
  display: block;
}
.loc-city {
  color: white;
}
.loc-state {
  color: white;
}
