@import 'carbon-components/scss/globals/scss/styles';

.landing-page__r2 .bx--tabs__nav {
  right: 0;
}

// .bx--grid--full-width {
//   max-width: 1500px;
// }

.bx--content {
  min-height: calc(100vh - 200px);
  padding: 0;
}

.bx--header {
  position: fixed;
  top: 0;
  @media (min-width: 1056px) {
    position: relative;
    top: auto;
  }
  border-bottom: 0;
}

.bx--header ~ .bx--content {
  margin-top: 0;
  /* margin-top: 3rem; */
}

.global-nav__link.bx--link:hover {
  color: #fff; //carbon token $text-03
  text-decoration: none;
  // cursor: none;
}

.bx--col-lg-6 {
  padding-right: 0;
  padding-left: 0;
}

.cv-tabs__panels {
  position: absolute;
  left: 0;
  max-width: -webkit-fill-available;
  margin-top: $spacing-07;
  // left: 16px;
}

.cv-tabs-button.bx--tabs__nav-item {
  background-color: inherit;
}

a.bx--tabs__nav-link {
  @include carbon--type-style('body-short-02');
  color: #f3f3f3;
}

.bx--tabs {
  position: relative;
  top: 0;
  left: 0;
  max-width: auto;

  @media (min-width: 1056px) {
    position: absolute;
    top: 32px;
    left: calc(#{$layout-06} + #{$layout-07});
    max-width: 850px;
  }
}
