@import 'carbon-components/scss/globals/scss/styles';
@import 'carbon-components/scss/globals/scss/vars.scss';
@import '~@carbon/layout/scss/breakpoint';

@import '~@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

//global styles
.aside {
  background-color: #252525;
  color: #fff;
  margin-left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  @media (min-width: 672px) {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  @media (min-width: 1056px) {
    margin-left: 0;
  }
}

.aside__image {
  object-position: 10% 50%;
  object-fit: cover;
  display: block;
  min-height: 400px;
  width: -webkit-fill-available;

  @media (min-width: 672px) {
    min-height: 700px;
  }
}

.aside__container--img {
  margin-left: -1rem;
}

.aside__container--links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $spacing-08;
}

.aside__link.aside__container--links {
  flex-direction: column;
}

.aside__container--text {
  padding: 16px;

  @media (min-width: 1056px) {
    padding-left: 15%;
    padding-right: $layout-05;
  }
}

.aside__header {
  @include carbon--type-style('productive-heading-04');
  font: {
    weight: 300;
    size: 30px;
  }
  margin-bottom: $spacing-08;
}

.aside__paragraph {
  margin-bottom: $spacing-08;
}

.page__details {
  display: flex;
  flex-direction: row;
  height: 100px;
  padding: 0 $spacing-05;
  align-items: center;
}

.page__title {
  @include carbon--type-style('productive-heading-03');
  color: #fff;
  padding: 0;

  @media (min-width: 1056px) {
    padding: 0 $spacing-06;
  }
}

.icon--social {
  fill: #fff;
  height: 60px;
  width: 60px;
}

//resets
table {
  width: auto;
}
