@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

//partials
@import '../components/Hero/hero';
@import '../views/LandingPage/landingpage';
@import '../components/EarlyVoting/earlyvoting';
@import '../components/Register/register';
@import '../components/VoteNow/votenow';
@import '../views/JourneyPage/journeypage';
@import '../components/GlobalFooter/globalfooter';
@import '../components/Countdown/countdown';
