// $feature-flags: (
//   grid-columns-16: true
// );

@import 'carbon-components/scss/globals/scss/styles';

//global styles
.heading {
}

.heading--lg {
  @include carbon--type-style('productive-heading-06');
}

.heading--xl {
  @include carbon--type-style('expressive-heading-06');
  font-size: 54px;
  margin-bottom: $spacing-06;
}

.heading--sm {
  @include carbon--type-style('productive-heading-04');
  margin-bottom: $spacing-05;
}

.main {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 1056px) {
    grid-template-columns: 400px 1fr;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
}

//resets
table {
  width: auto;
}
