@import '@/styles/_theme.scss';

.tweet__list.bx--list--unordered {
  height: auto;
  overflow: auto;

  @media (min-width: 672px) {
    max-height: 216px;
  }

  &.tweet__list::-webkit-scrollbar {
    width: 20px;
  }

  &.tweet__list::-webkit-scrollbar-thumb {
    background: $inverse-02;
    border-radius: 5px;
  }

  &.tweet__list::-webkit-scrollbar-thumb:hover {
    background: $inverse-hover-ui;
  }
}

.tweet__list > ul:nth-child(1) {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  list-style: none;
}

.tweets ul.cv-list.bx--list--unordered li.cv-list-item.bx--list__item {
  border-radius: 10px;
  color: white;
  margin-bottom: 15px;
  padding: 10px;
}

.tweets > * {
  margin-bottom: 20px;
}

.tweet-border-positive {
  border: 2px solid $inverse-support-02;
}

.tweet-border-neutral {
  border: 2px solid $interactive-01;
}

.tweet-border-negative {
  border: 2px solid $support-03;
}

.tweet-legend-sentiment {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.tweet-legend-sentiment--positive {
  background: $inverse-support-02;
}

.tweet-legend-sentiment--neutral {
  background: $interactive-01;
}

.tweet-legend-sentiment--negative {
  background: $support-03;
}
