@import 'carbon-components/scss/globals/scss/vars.scss';
@import 'carbon-components/scss/globals/scss/styles';

.impactFeatureCard {
  background-color: #000;
  margin: 0;
  margin-top: $spacing-09;

  @media (min-width: 42rem) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.impactFeatureCard .bx--feature-card {
  overflow: hidden;
}
.bx--feature-card {
  position: relative;
}

.bx--aspect-ratio {
  position: relative;
}
.bx--feature-card__img {
  position: relative;
}

.bx--aspect-ratio--16x9::before {
  padding-top: 56.25%;
  @media (min-width: 42rem) {
    padding-top: 0 !important;
  }
}
.bx--aspect-ratio:before {
  content: '';
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
}

.bx--aspect-ratio--object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.impactFeatureCard .bx--feature-card img {
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;

  @media (min-width: 672px) {
    max-height: 500px;
  }
}

.bx--aspect-ratio:after {
  content: '';
  display: table;
  clear: both;
}

.bx--aspect-ratio {
  position: relative;
}

.bx--aspect-ratio--2x1:before {
  padding-top: 50%;
}
.bx--aspect-ratio:before {
  content: '';
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
}

.impactFeatureCard .bx--resource-card .bx--tile {
  max-height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #0f62fe;
  color: #fff;

  @media (min-width: 672px) {
    max-width: 100%;
    margin-right: $spacing-05;
  }
}

.bx--resource-card .bx--tile {
  background: var(--cds-ui-background, #fff);
  height: 100%;
  padding: var(--cds-spacing-05, 1rem) 25% var(--cds-spacing-05, 1rem) var(--cds-spacing-05, 1rem);
  position: relative;
  transition: background 70ms;
  text-decoration: none;
}

.bx--tile {
  display: block;
  min-width: 8rem;
  min-height: 4rem;
  background-color: #f4f4f4;
  position: relative;
  padding: 1rem;
  outline: 2px solid transparent;
  outline-offset: -2px;
  height: -webkit-fill-available;
}

.bx--resource-card__title {
  font-size: var(--cds-productive-heading-03-font-size, 1.25rem);
  font-weight: var(--cds-productive-heading-03-font-weight, 400);
  line-height: var(--cds-productive-heading-03-line-height, 1.625rem);
  letter-spacing: var(--cds-productive-heading-03-letter-spacing, 0);
  text-decoration: none;
  color: #fff;
}

.impactFeatureCard .bx--resource-card h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0;
}

.bx--resource-card__icon--img {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: flex-end;
}

.bx--resource-card__icon--action {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
}

.bx--feature-card__img .bx--aspect-ratio--object {
  @media (min-width: 42rem) {
    position: static;
  }
}

.bx--feature-card__row {
  @media (min-width: 42rem) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% + 2rem);
  }
}

.hero.bx--col-lg-12 {
  padding-right: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 0 $spacing-05 0 0;

  @media (min-width: 400px) {
    // custom breakpoint -- not changing at 672 like the default behavior suggests.
    padding: calc(#{$spacing-05} + 48px) $spacing-05; //48px is size of nav bar
  }

  @media (min-width: 1056px) {
    padding: $spacing-08;
    top: 0;
  }
}

.hero__image {
  height: max-content;
  object-fit: cover;
  opacity: 0.35;
}

.hero__heading {
  @include carbon--type-style('productive-heading-05');
  font-weight: 400;
  margin-bottom: $spacing-04;

  @media (min-width: 1056px) {
    @include carbon--type-style('productive-heading-07');
    font-weight: 400;
    margin-bottom: $spacing-06;
  }
}

.hero__description {
  @include carbon--type-style('productive-heading-03');
  display: none;
  max-width: 630px;
  margin-bottom: $spacing-06;

  @media (min-width: 1056px) {
    display: block;
  }
}

.hero__quote {
  @include carbon--type-style('quotation-01');
  font-size: 14px;
  max-width: 400px;

  @media (min-width: 672px) {
    font-size: 16px;
  }
}

.hero__author {
  font-style: italic;
}

.button--cta {
  position: absolute;
  bottom: 0;
  right: $spacing-06;
  min-height: 184px;
  min-width: 400px;
}

.bx--resource-card__icon--action {
  //carbon override
  top: 1rem;
  bottom: 0;
}
