@import 'carbon-components/scss/globals/scss/vars.scss';

.content--register > .article__img--register {
  margin-top: 20px;
}

.content--register > .heading--lg .heading--sm .article__quote {
  margin-bottom: 20px;
}

.article__img--register {
  margin-top: $spacing-05;
}

.aside__img {
  max-width: 100%;
}
