.main--register {
  padding-top: 100px;
  grid-template-columns: 1fr;

  @media (min-width: 1056px) {
    grid-template-columns: 500px 1fr;
  }
}

.content--register > .article__img--register {
  margin-top: 20px;
}

.content--register > .heading--lg .heading--sm .article__quote {
  margin-bottom: 20px;
}

.article__img--register {
  margin-top: $spacing-05;
}
