@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/typography.scss';

.global-nav {
  background: {
    color: #171717;
  }
  min-height: 82px;
}

.global-nav--alt {
  background-color: #f2f4f8;
}

.global-nav__list {
  display: flex;
  flex-direction: row;
  padding-right: 400px;
  width: 100%;
}

.global-nav__list-item {
  width: calc(100% / 4);
  padding: 0 $spacing-06;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: #252525;
  }

  &:active {
    background-color: #252525;
  }
}

.global-nav__list-item--alt {
  &:hover {
    background-color: #e0e4ea;
  }

  &:active {
    background-color: #e0e4ea;
  }
}

.global-nav__link {
  @include carbon--type-style('productive-heading-02');
  display: block;
  color: $text-04;
  height: 100%;
  line-height: 82px;

  &:hover {
    cursor: pointer;
  }
}

.global-nav__link--alt {
  color: #282828;
}

.global-nav__link.bx--link:visited {
  color: #fff;
}
