.tweet__list.bx--list--unordered {
  height: auto;
  overflow: auto;

  @media (min-width: 672px) {
    max-height: 216px;
    overflow: scroll;
  }
}

.tweet__list > ul:nth-child(1) {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  list-style: none;
}

.tweets ul.cv-list.bx--list--unordered li.cv-list-item.bx--list__item {
  color: white;
}

.tweets > * {
  margin-bottom: 20px;
}
