@import 'carbon-components/scss/globals/scss/vars';
.main--votenow {
  padding-top: 100px;
  grid-template-columns: 1fr;

  @media (min-width: 1056px) {
    grid-template-columns: 500px 1fr;
  }
}
.cv-tabs__panels {
  width: 100%; /* why!!?? */
}
.content--votenow > .article__img--votenow {
  margin-top: 20px;
}

.content--votenow > .heading--lg .heading--sm .article__quote {
  margin-bottom: 20px;
}

.article__img--votenow {
  margin-top: $spacing-05;
}

.poll-info > * {
  margin-bottom: 20px;
}

.list {
  max-width: 800px;
  padding-left: 30px;
}

.list-item {
  padding-bottom: $spacing-03;
  color: white;
}

.polling-name {
  font-weight: bold;
}
.address-line {
  display: block;
}

.polling-hours {
  display: block;
  font-weight: bold;
}
.aside__image {
  width: 100%;
  min-height: unset;
}

.bx--list-box__field {
  font-size: large;
}
