@import 'carbon-components/scss/globals/scss/styles';
@import 'carbon-components/scss/globals/scss/vars.scss';
@import '~@carbon/layout/scss/breakpoint';

//global styles
.aside {
  background-color: #252525;
  color: #fff;
  margin-left: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  @media (min-width: 672px) {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  @media (min-width: 1056px) {
    margin-left: 0;
  }

  &__image {
    object-position: 10% 50%;
    object-fit: cover;
    display: block;
    min-height: 400px;
    max-height: 700px;
    width: -webkit-fill-available;
    @media (min-width: 672px) {
      min-height: 700px;
    }
  }

  &__container--img {
    margin-left: 1rem;
    height: 700px;
    width: 100%;
    @include carbon--breakpoint-down(lg) {
      margin-left: -1rem;
      width: calc(100% + 1rem);
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__container--links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacing-07;
  }

  &__link.aside__container--links {
    flex-direction: column;
  }

  &__container {
    &--text {
      padding: $spacing-05;

      @media (min-width: 1056px) {
        padding-left: 15%;
        padding-right: $layout-05;
      }

      .bx--link {
        color: $carbon--gray-10;
      }

      .bx--label {
        color: $carbon--gray-10;
      }
    }
  }

  &__header {
    @include carbon--type-style('productive-heading-04');
    font: {
      weight: 300;
      size: 30px;
    }
    max-width: 32ch;
    margin-bottom: $spacing-08;
  }

  &__paragraph {
    margin-bottom: $spacing-08;
    font-size: 16px;
  }
}

.page__details {
  display: flex;
  flex-direction: row;
  height: 100px;
  padding: 0 $spacing-05;
  align-items: center;
}

.page__title {
  @include carbon--type-style('productive-heading-03');
  color: #fff;
  padding: 0;

  @media (min-width: 1056px) {
    padding: 0 $spacing-06;
  }
}

.icon--social {
  fill: #fff;
  height: 60px;
  width: 60px;
}

.wrapper {
  display: flex;
  margin-top: $spacing-09;
}

.wrapper--address {
  flex-direction: column;
}

.wrapper--button {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $spacing-05;
}

.button--early-voting {
  margin: 0;
}

.main-content {
  background-color: #171717;
}

//resets
table {
  width: auto;
}
