@import 'carbon-components/scss/globals/scss/styles';

.bx--row {
  @media (min-width: 1056px) {
    margin-right: 0;
  }
}

.bx--content {
  min-height: 100vh;
  padding: 0;
}

.bx--header {
  position: fixed;
  top: 0;
  @media (min-width: 1056px) {
    position: relative;
    top: auto;
  }
  border-bottom: 0;
}

.bx--header ~ .bx--content {
  margin-top: 0;
}

.global-nav__link.bx--link:hover {
  color: #fff; //carbon token $text-03
  text-decoration: none;
}

.bx--col-lg-6 {
  padding-right: 0;
  padding-left: 0;
}

.cv-tabs__panels {
  position: absolute;
  left: 0;
  max-width: -webkit-fill-available;
  margin-top: $spacing-07;
}

.cv-tabs-button.bx--tabs__nav-item {
  background-color: inherit;
}

a.bx--tabs__nav-link {
  @include carbon--type-style('body-short-02');
  color: #f3f3f3;
  font-size: 16px;
}

.bx--tabs {
  position: relative;
  top: 0;
  left: 0;
  max-width: auto;

  @media (min-width: 1056px) {
    position: absolute;
    top: 32px;
    left: calc(#{$layout-06} + #{$layout-07});
    max-width: 1000px;
  }
}

.aside .bx--modal-container {
  width: 100%;
  position: relative;
  top: 20px;
}

.aside .bx--modal-header {
  color: #000000;
}

.bx--dropdown .bx--list-box__field {
  font-size: 16px;
}
