.main--ballot-return
 {
  padding-top: 50px;
  grid-template-columns: 1fr;

  @media (min-width: 1056px) {
    grid-template-columns: 500px 1fr;
  }
}

.content--ballot-return
 > .article__img--register {
  margin-top: 20px;
}

.content--ballot-return
 > .heading--lg .heading--sm .article__quote {
  margin-bottom: 20px;
}

.article__img--ballot-return
 {
  margin-top: $spacing-05;
}

.map {
  height: auto;
  width: 100%;
  max-width: 850px;
}

.locations > .heading--lg {
  margin-bottom: 20px;
}

.locations__table {
  max-height: 500px;
  overflow: scroll;
}
