@import 'carbon-components/scss/globals/scss/vars';
.cv-tabs__panels {
  width: 100%; /* why!!?? */
}
// .aside__image {
//   width: 100%;
//   min-height: unset;
// }
.map__container .google-map {
  min-height: 700px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
.loc-name {
  color: white;
  font-weight: bold;
  display: block;
}
.loc-line {
  color: white;
  display: block;
}
.loc-city {
  color: white;
}
.loc-state {
  color: white;
}
