.article {
  display: grid;
  //   grid-gap: 20px;
  grid-template-columns: 1fr;
  padding: 40px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: 1056px) {
    grid-gap: 20px;
    grid-template-columns: 1fr 200px;
  }
}

.article-feed {
  margin-bottom: 60px;

  @media (min-width: 1056px) {
    margin-bottom: 60px;
  }
}

.article__heading {
  @include carbon--type-style('productive-heading-05');
  line-height: 4rem;
}

.article__paragraph {
  @include carbon--type-style('body-long-02');
  color: #7b8898;
  margin-bottom: 20px;
}

.article__img {
  display: flex;
  align-self: center;
  max-height: 150px;
  margin-top: 20px;

  @media (min-width: 1056px) {
    margin-top: 0;
  }
}

.article__content > .button {
  //override
  margin-right: 10px;
}
