.img--lg {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}

.article {
  color: #fff;
  padding: $spacing-08 0;
  display: flex;
}

.article__quote {
  @include carbon--type-style('quotation-01');
  display: block;
  margin-bottom: $spacing-07;
}

.quote--author {
  font-style: italic;
}

.article__content {
  max-width: 400px;
}

.article-feed {
  margin-bottom: 60px;

  @media (min-width: 1056px) {
    margin-bottom: 60px;
  }
}

.article__heading {
  @include carbon--type-style('productive-heading-05');
  line-height: 4rem;
  margin-bottom: calc(#{$spacing-05} + #{$spacing-02});
}

.article__paragraph {
  @include carbon--type-style('body-long-02');
  color: #7b8898;
  margin-bottom: calc(#{$spacing-05} + #{$spacing-02});
}

.article__img {
  display: block;
  max-width: 100%;
  width: auto;

  // @media (min-width: 1056px) {
  //   margin-top: 0;
  //   max-height: 300px;
  //   max-width: 430px;
  // }
}

.article__img-container {
  margin-left: -1rem;
  margin-right: -2rem;
  max-height: 479px;
  overflow: hidden;
}

.article__content > .button {
  //override
  margin-right: 10px;
}

.article__content > .article__paragraph {
  margin-top: $spacing-05;
}

.article-paragraph--alt {
  font-size: 18px;
  max-width: 800px;
}
