@import 'carbon-components/scss/globals/scss/vars.scss';

.content--register > * {
  margin-bottom: 20px;
}

.voter-journey {
  margin-bottom: $spacing-07;
}

.check-status {
  margin-top: $spacing-07;
  padding: $spacing-05;
}
